<div class="container" data-ng-init="loadLanguageDetails()">
    <div class="card-panel">
<h5 class="header">Add Songs</h5>


    <form class="col s12">
 <div class="row">
          

<div class="input-field col s12">
   <label>Select Song Language</label><br><br>
  <select class="browser-default" ng-model="addSongsForm.languageName">
    <option value="" disabled selected>Choose your option</option>
    <option ng-repeat="lang in languageDetails" value="{{lang.languagename}}">{{lang.languagename}}</option>
    
  </select>
  </div>

  </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Song Name" id="first_name" type="text" class="validate" ng-model="addSongsForm.songName">
          <label for="first_name">Song Name</label>
        </div>

         <div class="input-field col s12">
          <input placeholder="Movie Name" id="first_name" type="text" class="validate" ng-model="addSongsForm.movieName">
          <label for="first_name">Movie Name</label>
        </div>

          <div class="input-field col s12">
          <input placeholder="Song Key" id="first_name" type="text" class="validate" ng-model="addSongsForm.songKey">
          <label for="first_name">Song Key</label>
        </div>
      </div>
     <!--  <div class="row">
        <div class="input-field col s6">
         <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" fileread="addSongsForm.imageData">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
        </div>
      </div> -->

      <div class="row">
       <div class="input-field col s12" style="text-align:center">
          <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="addSongs();">Submit
    <i class="material-icons right"></i>
  </button>
        </div>
  </div>



    </form>
    </div>
</div>
