<div class="main-content">
    <!--<form #categoryRegForm="ngForm" (ngSubmit)="saveCategory(categoryRegForm)">-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Parent Category</h4>
                        <p class="category">Add Parent Category</p>
                    </div>
                    <div class="card-content">
                        <form>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Category Name</label>
                                    </div>
                                </div>
                                <!--
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="text" name="categoryName" class="form-control" ngModel>
                                </div>
                            </div>-->



                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="text" name="categoryName" class="form-control" [(ngModel)]="parentCategory.categoryName">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Browse Image</label>
                                        <input type="file" name="categoryImage" (change)="fileEvent($event)" multiple>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">
                                            <b>{{selectedFileName}}</b>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Category Description</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group form-black label-floating is-empty">
                                            <textarea class="form-control" rows="5" name="categoryDescription" [(ngModel)]="parentCategory.categoryDescription"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Tag head</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group form-black label-floating is-empty">
                                            <input type="text" class="form-control" rows="5" name="head" [(ngModel)]="parentCategory.head" />

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-danger pull-right" (click)="saveCategory()">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--</form>-->
</div>